
@{
    ViewBag.Title = "Liên Hệ";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_responsive.css">

<div class="container contact_container">
    <div class="row">
        <div class="col">



            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="index.html">Liên hệ</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Contact</a></li>
                </ul>
            </div>

        </div>
    </div>



    <div class="row">
        <div class="col">
            <h3>Thông tin liên hệ</h3>
            <p>Tên: Trương Phúc Toàn</p>
            <p>SDT: 0898863329</p>
            <p>Email: phuctoan351@gmail.com</p>
        </div>
        <div class="col">
            <div id="google_map">
                <div class="map_container">
                  
                    <div id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3921.4515959982864!2d106.6179438765415!3d10.62198198951763!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175332d0c5e379b%3A0x31d5a45f1ead9b0f!2zTmjDoCBUcsawxqFuZyBQaMO6YyBOZ3V5w6pu!5e0!3m2!1sen!2s!4v1721564282135!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">



    </div>
</div>
@section scripts{
    <script src="~/Content/assets/js/contact_custom.js"></script>
}